<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxKKx2U0B1BtYpDjfL6SNh_Qif1wCcn5A</string>
	<key>GCM_SENDER_ID</key>
	<string>204490633303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.college.collegeBanhaApp</string>
	<key>PROJECT_ID</key>
	<string>collegeapp-cb9e0</string>
	<key>STORAGE_BUCKET</key>
	<string>collegeapp-cb9e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204490633303:ios:2efa18d9a1c30d21a8f312</string>
</dict>
</plist>